.prose {
  color: var(--color-gray-700);
  font-size: var(--text-base);
  line-height: 1.5;

  @variant dark {
    color: var(--color-gray-400);
  }

  > * + * {
    margin-top: 1.5em;
  }

  p {
    margin-top: 1.5em;
    margin-bottom: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-gray-950);

    @variant dark {
      color: var(--color-white);
    }
  }

  h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: -0.025em;
    font-weight: var(--font-weight-medium);
    margin-top: 0;
    margin-bottom: 1em;

    @media (min-width: 1024px) {
      font-size: var(--text-6xl);
      line-height: 1.1;
    }
  }

  h2 {
    font-size: var(--text-2xl);
    line-height: 1.3;
    letter-spacing: -0.025em;
    font-weight: var(--font-weight-semibold);
    margin-top: 2.5em;
    margin-bottom: 0.75em;
  }

  h3 {
    font-size: var(--text-xl);
    line-height: 1.4;
    letter-spacing: -0.025em;
    font-weight: var(--font-weight-semibold);
    margin-top: 2em;
    margin-bottom: 0.5em;
  }

  h4 {
    font-size: var(--text-lg);
    line-height: 1.5;
    letter-spacing: -0.025em;
    font-weight: var(--font-weight-semibold);
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }

  a {
    color: var(--color-gray-950);
    font-weight: var(--font-weight-semibold);
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: --alpha(var(--color-gray-950) / 25%);

    @variant hover {
      text-decoration-color: --alpha(var(--color-gray-950) / 50%);
    }

    @variant dark {
      color: var(--color-white);
      text-decoration-color: --alpha(var(--color-white) / 25%);

      @variant hover {
        text-decoration-color: --alpha(var(--color-white) / 50%);
      }
    }
  }

  ol,
  ul {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding-left: 1.5em;
  }

  ol {
    list-style-type: decimal;

    li {
      padding-left: 0.375em;
      margin-top: 0.5em;

      &::marker {
        color: var(--color-gray-700);
        font-weight: var(--font-weight-normal);

        @variant dark {
          color: var(--color-gray-400);
        }
      }
    }

    li:first-child {
      margin-top: 0;
    }
  }

  ul {
    list-style-type: disc;

    li {
      padding-left: 0.375em;
      margin-top: 0.5em;

      &::marker {
        color: var(--color-gray-400);

        @variant dark {
          color: var(--color-gray-600);
        }
      }
    }

    li:first-child {
      margin-top: 0;
    }
  }

  /* Nested lists */
  li > ul,
  li > ol {
    margin-top: 0.75em;
    margin-bottom: 0.25em;
  }

  /* Tight lists */
  li > p {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

  li:has(> p) {
    margin-top: 0.75em;
  }

  pre {
    border-radius: var(--radius-xl);
    padding: 1rem;
    overflow-x: auto;
    margin-top: 2em;
    margin-bottom: 2em;

    > code {
      display: block;
      font-size: var(--text-sm);
      line-height: 1.714;
      color: var(--color-white);
    }

    &::selection {
      background-color: --alpha(var(--color-white) / 15%);
    }
  }

  img,
  video {
    border-radius: var(--radius-xl);
    border: --alpha(var(--color-gray-950) / 10%) solid 1px;
    margin-top: 2em;
    margin-bottom: 2em;

    @variant dark {
      border: --alpha(var(--color-white) / 10%) solid 1px;
    }
  }

  figure {
    margin-top: 2em;
    margin-bottom: 2em;

    > * {
      margin-top: 0;
      margin-bottom: 0;
    }

    figcaption {
      font-size: var(--text-sm);
      color: var(--color-gray-600);
      margin-top: 0.75em;
      text-align: center;

      @variant dark {
        color: var(--color-gray-500);
      }
    }
  }

  strong {
    font-weight: var(--font-weight-semibold);
    color: var(--color-gray-950);

    @variant dark {
      color: var(--color-white);
    }
  }

  code:where(:not(pre > code)) {
    font-size: 0.9em;
    font-weight: var(--font-weight-medium);
    color: var(--color-gray-950);
    background-color: --alpha(var(--color-gray-950) / 5%);
    padding: 0.125rem 0.375rem;
    border-radius: var(--radius);

    @variant dark {
      color: var(--color-white);
      background-color: --alpha(var(--color-white) / 10%);
    }

    &::before,
    &::after {
      content: "`";
    }
  }

  /* Blockquotes */
  blockquote {
    font-style: italic;
    border-left: 0.25rem solid var(--color-gray-300);
    padding-left: 1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    color: var(--color-gray-600);

    @variant dark {
      border-left-color: var(--color-gray-700);
      color: var(--color-gray-500);
    }

    p {
      margin-top: 0;
    }

    p + p {
      margin-top: 1em;
    }
  }

  /* Tables */
  table {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: var(--text-sm);
    line-height: 1.714;
  }

  thead {
    border-bottom: 1px solid var(--color-gray-300);

    @variant dark {
      border-bottom-color: var(--color-gray-700);
    }
  }

  th {
    padding: 0.5714em 0.8571em;
    text-align: left;
    font-weight: var(--font-weight-semibold);
    color: var(--color-gray-950);

    @variant dark {
      color: var(--color-white);
    }
  }

  tbody tr {
    border-bottom: 1px solid var(--color-gray-200);

    @variant dark {
      border-bottom-color: var(--color-gray-800);
    }
  }

  td {
    padding: 0.5714em 0.8571em;
  }

  /* Horizontal rule */
  hr {
    border: none;
    border-top: 1px solid var(--color-gray-200);
    margin-top: 3em;
    margin-bottom: 3em;

    @variant dark {
      border-top-color: var(--color-gray-800);
    }
  }
}
